html{
	background-color:black;
	color:white;
}

.center {
	text-align: center;
	/* width: 70%; */
}

object {
    width: 95%;
    height: 800px;
}

ul {
    list-style-position: inside;
}

#container{
	text-align: center;
}

#siteloader{
	text-align: center;
}

#search-options{
	display:none;
}

#add-recipe{
	display:none;
}

.float-right-area {
	background-color: gray;
	display: none;
	width: 30%;
	margin-bottom: -5000px; /* any large number will do */
	padding-bottom: 5000px;
	align-content: right;
	float: right;
	overflow: hidden;
}
