html{
	background-color:black;
	color:white;
}

.center {
    text-align: center;
}

object {
    width: 95%;
    height: 800px;
}

ul {
    list-style-position: inside;
}

#container{
	text-align: center;
}

#siteloader{
	text-align: center;
}

#search-options{
	display:none;
}

#add-recipe{
	display:none;
}
